<!DOCTYPE html>
<html>
  <head>
    <title>AI Rayan Investment Bank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
<header class="header">
    <div class="container">
        <%= image_tag("arbank_white.png", class: "logo") %>
        <% if current_user.has_account? %>
        <div class="balance-box">
        <h4>Account Balance</h4>
        <h2> <%= current_user.currency %><%= number_with_delimiter current_user.balance %> </div>
        </div>
        <% end %>
    </div>
</header>
  <div class="navbar-dark bg-dark">
    <nav class="navbar navbar-expand-lg container">
        <div class=" navbar-collapse" id="navbarSupportedContent">
        <% if current_user.has_account? %>
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <%= link_to 'Balance Enquiry', root_path, class: "nav-link"%>
            </li>
            <li class="nav-item active">
                <%= link_to 'Make Deposit', deposit_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Withdraw', withdraw_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Transfer', transfer_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
               <%= link_to 'Transaction History', transaction_path, class: "nav-link"%>
            </li>
            </ul>
            <% end %>
        </div>
        <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-danger"  %>
    </nav>
  </div>

    <%= yield %>
   <footer class="footer">
    <p>AI Rayan Investment Bank Inc. © 2021 / All Rights Reserved</p>
    </footer>
  </body>
</html>
